@use '../abstracts';

%button {
  min-height: 58px;
  min-width: 11.25rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 3rem;
  font-size: var(--font-button);
  font-family: var(--font-heading);
  line-height: 1;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  padding: var(--padding-button);
  background-color: var(--brand-2);
  color: #fff;
  text-decoration: none;
  border: none;
  cursor: pointer;

  @include abstracts.respond-to('desktop') { 
    min-height: 48px;
    min-width: 180px;
  }

  @include abstracts.respond-to('tablet') { 
    min-height: 38px;
    min-width: 160px;
  }
}

%button-white {
  background-color: #fff;
  color: var(--brand-1);
}

%button-dark {
  color: #fff;
  background-color: var(--brand-6);
}

%button-deep-purple {
  color: #fff;
  background-color: var(--brand-1);
}

.h-button {
  &__link {
    @extend %button;
  }
}

// WP Core Buttons
.wp-block-button {
  .wp-block-button__link {
    @extend %button;
  }

  &.is-style-white {
    .wp-block-button__link {
      @extend %button-white;
    }
  }

  &.is-style-dark {
    .wp-block-button__link {
      @extend %button-dark;
    }
  }

  &.is-style-deep-purple {
    .wp-block-button__link {
      @extend %button-deep-purple;
    }
  }
}

.wp-block-buttons {
  &.is-layout-flex.wp-block-buttons-is-layout-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 14px;

    &.is-nowrap {
      flex-wrap: nowrap;
    }

    &.is-vertical {
      flex-direction: column;
    }
  }
}