.h-tab {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--brand-6);
  min-height: 1.75rem;
  min-width: auto;
  color: var(--brand-8);
  border-radius: 2rem;
  text-transform: uppercase;
  padding: var(--text-tab-padding);
  margin-bottom: var(--spacing-header);

  p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: var(--text-tab);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: var(--text-tab-letter-spacing);
  }

}