@use '../abstracts';


*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

:root {
  font-size: 16px;
  --brand-1: #460875;
  --brand-2: #884DB6;
  --brand-3: #B587D7;
  --brand-4: #6E2383;
  --brand-5: #E6C6FF;
  --brand-6: #1B1535;
  --brand-7: #292929;
  --brand-8: #D6A3FC;
  --text-tab: 0.688rem;
  --text-tab-padding: 0.25rem 1.5rem;
  --text-tab-letter-spacing: 0.063rem;
  --text-tab-margin-bottom: 0.625rem;
  --font-heading: trade-gothic-next-condensed, sans-serif;
  --font-body: tome-sans-variable, sans-serif;
  --font-h2: 5.5rem;
  --font-h3: 4.875rem;
  --font-lead: 26px;
  --font-hero-home-heading: 4.625rem;
  --font-hero-home-heading-sub: 1.75rem;
  --font-hero-home-intro: 1.313rem;
  --font-hero-home-scroller-item-heading: 2.375rem;
  --font-team-members-item-heading: 1.875rem;
  --font-team-members-item-role: 1.063rem;
  --font-insta-follow: 2.5rem;
  --font-news-feed-heading: 3.75rem;
  --font-news-feed-item-heading: 1.375rem;
  --font-news-feed-item-content: 1.063rem;
  --font-footer-heading: 56px;
  --font-footer-intro: 20px;
  --font-footer-email: 22px;
  --font-footer-copy: 15px;


  --font-section-heading: 88px;
  --font-page-hero-heading: 95px;
  --font-page-hero-lead: 21px;
  --font-button: 22px;
  --padding-button: 6px 25px;
  --spacing-para: 15px;


  --heading-cta: 3.875rem;
  --max-width-cta: 75rem;
  --border-radius-cta: 2.5rem;
  --container-padding-cta: 3.125rem 4.375rem;
  --container-padding-content: 1.5rem;
  --text-button: 1.5rem;

  --hamburger: 3.375rem;
  --spacing-block: 4.125rem;
  --spacing-header: 2.875rem;


  @include abstracts.respond-to('wide') { 
    --font-hero-home-heading: 4rem;
    --container-padding-cta: 50px 60px;


    --font-section-heading: 78px;
    --font-page-hero-heading: 84px;
    --font-page-hero-lead: 20px;
  }

  @include abstracts.respond-to('desktop') { 
    --font-hero-home-heading: 3.5rem;
    --container-padding-cta: 50px 45px;


    --font-section-heading: 68px;
    --font-page-hero-heading: 74px;
  }

  @include abstracts.respond-to('laptop') { 
    --font-hero-home-heading: 3rem;
    --font-hero-home-heading-sub: 1.063rem;
    --font-hero-home-intro: var(--font-hero-home-heading-sub);
    --font-hero-home-scroller-item-heading: 1.75rem;
    --font-footer-email: 17px;

    
    --font-section-heading: 60px;
    --font-page-hero-heading: 65px;
    --font-page-hero-lead: 19px;
  }

  @include abstracts.respond-to('tablet') { 
    --font-hero-home-heading: 2.5rem;
    --font-footer-email: 1rem;
    --font-h2: 3rem;
    --container-padding-cta: 50px 35px;


    --font-section-heading: 55px;
    --font-page-hero-heading: 60px;
  }

  @include abstracts.respond-to('mobile') { 
    --font-hero-home-heading: 2rem;

    --font-section-heading: 50px;
    --font-page-hero-heading: 55px;

    
    --container-padding-cta: 40px 25px;
  }

  @include abstracts.respond-to('small-mobile') { 
    --font-section-heading: 40px;
    --font-page-hero-heading: 45px;
  }
}

%heading-style {
  font-family: var(--font-heading);
  font-weight: 800;
  line-height: 0.95;
  margin-bottom: var(--spacing-para);
}

body {
  font-family: var(--font-body);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.3;
}

.d-content-area {
  >* {
    padding-left: var(--container-padding-content);
    padding-right: var(--container-padding-content);
  }
}

.d-typography {
  >p {
    margin-top: 5px;
    margin-bottom: var(--spacing-para);

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

h1,
h2,
h3,
h4 {
  @extend %heading-style;
}

h2 {
  font-size: var(--font-h2);
}

.no-padding {
  &__left {
    padding-left: 0;
  }

  &__right {
    padding-right: 0;
  }
}

.margin-block {
  &__top {
    margin-top: var(--spacing-block);
  }

  &__bottom {
    margin-bottom: var(--spacing-block);
  }
}

.padding-block {
  &__top {
    padding-top: var(--spacing-block);
  }

  &__bottom {
    padding-bottom: var(--spacing-block);
  }
}

.is-style-lead {
  font-weight: 500;
  font-size: var(--font-lead);
}

.has-text-align {
  &-left {
    text-align: left;
  }

  &-right {
    text-align: right;
  }
  
  &-center {
    text-align: center;
  }
}

.has-inline-color {
  &.has-brand-1-color {
    color: var(--brand-1);
  }

  &.has-brand-2-color {
    color: var(--brand-2);
  }

  &.has-brand-3-color {
    color: var(--brand-3);
  }

  &.has-brand-4-color {
    color: var(--brand-4);
  }

  &.has-brand-5-color {
    color: var(--brand-5);
  }

  &.has-brand-6-color {
    color: var(--brand-6);
  }

  &.has-brand-7-color {
    color: var(--brand-7);
  }

  &.has-brand-8-color {
    color: var(--brand-8);
  }
}

