*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

:root {
  font-size: 16px;
  --brand-1: #460875;
  --brand-2: #884DB6;
  --brand-3: #B587D7;
  --brand-4: #6E2383;
  --brand-5: #E6C6FF;
  --brand-6: #1B1535;
  --brand-7: #292929;
  --brand-8: #D6A3FC;
  --text-tab: 0.688rem;
  --text-tab-padding: 0.25rem 1.5rem;
  --text-tab-letter-spacing: 0.063rem;
  --text-tab-margin-bottom: 0.625rem;
  --font-heading: trade-gothic-next, sans-serif;
  --font-body: tome-sans-variable, sans-serif;
  --heading-cta: 3.875rem;
  --max-width-cta: 75rem;
  --border-radius-cta: 2.5rem;
  --container-padding-cta: 3.125rem 4.375rem;
  --container-padding-content: 1.5rem;
  --text-button: 1.5rem;
  --padding-button: 0.75rem 1.75rem;
  --hamburger: 3.375rem;
}

%heading-style {
  font-family: var(--font-heading);
}

body {
  font-family: var(--font-body);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.3;
}

.d-content-area {
  >* {
    padding-left: var(--container-padding-content);
    padding-right: var(--container-padding-content);
  }
}

h1,
h2,
h3,
h4 {
  @extend %heading-style;
}

