.c-alert {
  height: 2.75rem;

  &__inner {
    background-color: var(--brand-1);
    color: #fff;
    height: 100%;
  }

  &__container {
    height: inherit;
    padding-left: var(--container-padding-content);
    padding-right: var(--container-padding-content);
  }

  &__items {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__item {
    text-align: center;
    font-size: 1rem;

    p {
      a {
        font-weight: 600;
        text-decoration: none;
        color:#fff;
      }
    }
  }
}