@use '../abstracts';


.c-arrows {
  .c-arrows__arrow {
    width: 60px;
    height: 60px;
    opacity: 1;
    background-color: var(--brand-2);

    @include abstracts.respond-to('tablet') { 
      width: 40px;
      height: 40px;
      padding: 8px;
    }

    svg {
      fill: #fff;
    }

    &:hover {
      opacity: 1;
    }

    // &.c-arrows__arrow--prev {
    //   left: -40px;
    // }

    // &.c-arrows__arrow--next {
    //   right: -40px;
    // }
  }
}