@use '../abstracts';

.c-hamburger {
  --hamburger-backing: #fff;
  --hamburger-line: #000;
  font-size: 1.875rem;
  text-transform: uppercase;
  font-weight: 800;
  padding: 0;
  background-color: transparent;
  border: none;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  color: var(--hamburger-backing);

  p {
    padding-right: 1.125rem;

    @include abstracts.respond-to('tablet') { 
      display: none;
    }
  }

  &__backing {
    display: block;
    background-color: var(--hamburger-backing);
    width: var(--hamburger);
    height: var(--hamburger);
    border-radius: 50%;
    position: relative;
  }

  &__line {
    display: block;
    width: 1.375rem;
    height: 0.125rem;
    border-radius: 1rem;
    background-color: var(--hamburger-line);
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    transform: translateY(-50%);

    &:nth-child(1) {
      transform: translateY(calc(-50% - 0.5rem));
      transition: transform 0.25s ease-in-out;

      .mobile-nav-open & {
        transform: translateY(-50%) rotate(-45deg);
      }
    }

    &:nth-child(2) {
      transition: opacity 0.25s ease-in-out;

      .mobile-nav-open & {
        opacity: 0;
      }
    }


    &:nth-child(3) {
      transform: translateY(calc(-50% + 0.5rem));
      transition: transform 0.25s ease-in-out;

      .mobile-nav-open & {
        transform: translateY(-50%) rotate(45deg);
      }
    }
  }
}