@use '../abstracts';

.c-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  &__inner {
    padding-left: var(--container-padding-content);
    padding-right: var(--container-padding-content);
  }

  &__items {
    padding-top: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__item {
    flex: 1;

    &--centre {
      display: flex;
      justify-content: center;
    }

    &--right {
      display: flex;
      justify-content: flex-end;
    }
  }

  &__cta {
    &--mobile {
      display: none;

      @include abstracts.respond-to('tablet') { 
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: var(--hamburger);
        height: var(--hamburger);
        background-color: var(--brand-2);
        border-radius: 50%;
      }
    }

    &--desktop {
      .h-button__link {
        svg {
          margin-left: 0.75rem;
          width: 1.5rem;
          height: 1.5rem;
          fill: var(--brand-3);
          transition: fill 0.25s ease-in-out;
        }

        &:hover {
          svg {
            fill: #D2BC74;
          }
        }
      }

      @include abstracts.respond-to('tablet') { 
        display: none;
      }
    }
  }
}