@use '../abstracts';

.c-media-text {

  &__inner {
    background-color: #000;
    color: #fff;
    border-radius: 60px;
    max-width: 1340px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }

  &__gradient {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle,rgba(107, 15, 219, 1) 0%, rgba(131, 15, 219, 0) 100%);
    opacity: 0.4;
  }

  &__container {
    padding: 100px 60px;
    position: relative;
    z-index: 1;
  }

  &__items {
    display: flex;
    align-items: center;

    .c-media-text__alt-layout & {
      flex-direction: row-reverse;
    }

    @include abstracts.respond-to('tablet') { 
      flex-direction: column;
    }
  }

  &__item {
    width: 55%;

    @include abstracts.respond-to('tablet') { 
      width: 100%;
    }

    &--media {
      width: 45%;
      aspect-ratio: 1 / 1;
      border-radius: 40px;
      overflow: hidden;
      transform: rotate(5deg);

      @include abstracts.respond-to('tablet') { 
        width: 100%;
        border-radius: 26px;
      }

      picture,
      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}