@use '../abstracts';

.c-mobile-menu {
    // display: none;

    // @media(max-width: 1260px) {
        display: block;
        position: fixed;
        z-index: 999;
        width: 100vw;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: var(--brand-1);
        color: #fff;
        transform: translateY(-100%);
        visibility: hidden;
        transition: transform 0.25s ease-in-out;
        border-bottom-left-radius: var(--border-radius-large);
        border-bottom-right-radius: var(--border-radius-large);
    
        .mobile-nav-primer & {
            visibility: visible;
        }
    
        .mobile-nav-open & {
            transform: translateY(0);
        }
    
        &__nav-items,
        .sub-menu {
            list-style: none;
            padding: 0;
            margin: 0;
        }
    
        &__inner {
            height: 100%;
            padding-left: var(--container-padding-content);
            padding-right: var(--container-padding-content);
            padding-top: 180px;
        }

        &__container {

            & {
                height: 100%;
                overflow-y: auto;
                padding-bottom: 50px;
    
                /**
                Scrollbar
                */
                // Width
                &::-webkit-scrollbar {
                    width: 6px;
                }
                // Track
                &::-webkit-scrollbar-track {
                    // box-shadow: inset 0 0 5px grey; 
                    background-color: var(--brand-2);
                    border-radius: 0;
                }
                // Handle
                &::-webkit-scrollbar-thumb {
                    background: var(--brand-5); 
                    border-radius: 0;
                }
            }
        }

        &__items {
          display: flex;
          justify-content: flex-end;

            @include abstracts.respond-to('tablet') { 
                justify-content: center;
            }
        }

        &__item {
          display: flex;

		    // @include abstracts.respond-to('laptop') { 
			//     padding: 40px;
            // }

		    @include abstracts.respond-to('tablet') { 
			    flex-direction: column;
            }
        }

        &__primary {
          padding-right: 30px;

            @include abstracts.respond-to('tablet') { 
                padding-right: 0;
            }

          &:last-child {
            padding-right: 0;
          }
        }

        &__nav-items {
          text-align: left;

            @include abstracts.respond-to('tablet') { 
                text-align: center; 
            }

          >.menu-item > a {
            padding-right: 40px;
          }
        }
    
        .menu-item {  
            font-family: var(--font-heading); 
            font-weight: 800;
            font-size: 54px; 
            line-height: 1.1;

            @include abstracts.respond-to('laptop') { 
                font-size: 40px; 
            }
    
            &.menu-item-has-children {
                position: relative;
            }
    
    
            // Any anchor tag inside a menu item
            a {
                color: #fff;
                text-decoration: none;
                display: block;
                transition: color 0.25s ease-in-out;
                // padding: 6px 0;
            }

            &.current-menu-item a {
                color: var(--brand-3);
            }
    
            &:hover {
                // Direct child anchor tag
                >a {
                    color: var(--brand-3);
                }
            }
    
            .sub-menu__toggle {
              display: inline-flex;
              justify-content: center;
              align-items: center;
              width: 25px;
              height: 25px;
              border-radius: 50%;
              background-color: var(--brand-2);
              position: absolute;
              right: 0;
              top: 21px;

                @include abstracts.respond-to('laptop') { 
                    top: 13px; 
                }
    
                svg {
                    transition: transform 0.25s ease-in-out;
                    width: 11px;
                    height: 11px;
                }
            }
    
            .sub-menu {
                overflow: hidden;
                height: 0;
                transition: opacity 0.25s ease-in-out, 
                            height 0.25s ease-in-out;
                opacity: 0;

                .menu-item {
                    font-size: var(--font-page-hero-lead);
                    font-family: var(--font-body);
                    font-weight: 400;

                    a {
                      padding-top: 10px;
                      padding-bottom: 10px;
                    }

                    &:first-child {
                        > a {
                            padding-top: 20px;
                        }
                    }

                    &:last-child {
                        > a {
                            padding-bottom: 20px;
                        }
                    }
                }
            }
    
            .sub-menu .sub-menu {

    
                a {

                }
            }
    
            &.sub-menu__open {
                >.sub-menu {
                    height: auto;
                    opacity: 1;
                }
    
                >.sub-menu__toggle svg {
                    transform: rotate(90deg);
                }
            }
        }


    // }
}