@use '../abstracts';

.c-news-feed__card {
    background-color: #F3E0FF;
    border-radius: var(--border-radius-small);
    overflow: hidden;
    width: 435px;

    @include abstracts.respond-to('desktop') { 
      width: 380px;
    }

    @include abstracts.respond-to('tablet') { 
      width: 300px;
    }

    &--media {
      position: relative;
      aspect-ratio: 5 / 3.5;
      border-bottom-left-radius: var(--border-radius-small);
      border-bottom-right-radius: var(--border-radius-small);
      overflow: hidden;
      
      picture,
      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .c-news-feed__card--tab {
      position: absolute;
      top: 20px;
      left: 30px;
      min-width: 150px;
      background-color: var(--brand-1);
    }

    &--header {
      margin-bottom: 10px;
    }

    &--heading {
      font-size: var(--font-news-feed-item-heading);
      font-family: var(--font-body);
      font-weight: 600;
    }



    &--content {
      padding: 22px 30px 50px 30px;

      p {
        font-size: var(--font-news-feed-item-content);
        font-weight: 400;
        width: 90%;
      }
    }

    a {
      color: #1A1919;
      font-weight: 600;
      text-decoration: none;
    }
}