@use '../abstracts';

.p-archive {

  &__feed {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 12px;
    max-width: var(--max-width-media-text);
    margin-left: auto;
    margin-right: auto;

    @include abstracts.respond-to('laptop') { 
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @include abstracts.respond-to('mobile') { 
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }

  &__card {
    width: 100%;
  }

  &__featured {
    &--inner {
      background-color: #000;
      border-bottom-left-radius: var(--border-radius-large);
      border-bottom-right-radius: var(--border-radius-large);
      color: #fff;
      position: relative;
    }

    &--gradient {
      display: block;
      position: absolute;
      z-index: 1;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: radial-gradient(circle,rgba(107, 15, 219, 1) 0%, rgba(131, 15, 219, 0) 100%);
      opacity: 0.4;
    }

    &--container {
      padding: 100px 60px;
      position: relative;
      z-index: 2;
      max-width: var(--max-width-media-text);
      margin-left: auto;
      margin-right: auto;

      @include abstracts.respond-to('tablet') { 
        padding: 50px 30px;
      }
    }

    &--items {
      display: flex;
      align-items: center;

      @include abstracts.respond-to('tablet') { 
        flex-direction: column;
      }
    }


    &--item {
      width: 55%;

      @include abstracts.respond-to('tablet') { 
        width: 100%;
      }

      &-content {
        padding-right: 100px;

        @include abstracts.respond-to('tablet') { 
          padding-right: 0;
          padding-bottom: var(--spacing-header);
        }
      }

      &-media {
        width: 45%;
        position: relative;
        transform: rotate(-5deg);

        @include abstracts.respond-to('tablet') { 
          width: 100%;
        }

        picture {
          aspect-ratio: 1 / 1;
          border-radius: 40px;
          overflow: hidden;

          @include abstracts.respond-to('tablet') { 
            border-radius: 26px;
          }
        }

        picture,
        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .p-archive__featured--tab {
      background-color: var(--brand-1);
    }

    .p-archive__featured--heading {
      font-size: 38px;
      font-weight: 600;
      font-family: var(--font-body);
    }

    &--content-area {
      >* {
        margin-bottom: var(--spacing-para);
        
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}