.p-team-members {
  background-color: #000;

  .p-team-members__heading {
    font-size: var(--font-section-heading);
  }

  &__details {
    background-color: var(--brand-1);
    color: #fff;
    max-width: 1340px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 60px;
    position: relative;

    &--back {
      position: absolute;
      top: 35px;
      right: 40px;
    }

    &--inner {
      padding: 90px 70px 100px 70px;
    }

    &--items {
      display: flex;
    }

    &--left {
      padding-right: 80px;
    }

    &--media {
      aspect-ratio: 1 / 1;
      transform: rotate(5deg);

      picture,
      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50px;
      }
    }

    &--item {
      width: 50%;
    }

    &--speciality {
      font-size: 20px;
      font-weight: 500;
    }

    &--content-area {
      font-size: 20px;
      font-weight: 400;

      >p {
        &:first-child {
          font-weight: 600;
        }
      }
    }
  }
}